[Desktop Entry]
Type=Application
Version=1.0
Name=Volante PC
GenericName=Emulador de Volante de Carreras
Comment=Panel de calibración y emulador de volante con Arduino
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 WEBKIT_DISABLE_COMPOSITING_MODE=1 volante-pc
Icon=volante-pc
Terminal=false
Categories=Game;HardwareSettings;
Keywords=volante;wheel;racing;arduino;gamepad;xbox;joystick;simracing;
StartupNotify=true
